<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        var perfil_data = {
            "nome_apresentacao": {{ege_user.nome_apresentacao}}
        }
    </script>
</head>
<body>
    <img src="https://www.volacci.com/sites/default/files/Icon-user.png" />
    <dl>[{{user.jwt_data}}]
        <dt>Nome</dt><dd>{{ege_user.nome_apresentacao}}</dd>
        <dt>Matricula</dt><dd>{{user.username}}</dd>
        {% if is_aluno and ege_user.polo %}
        <dt>Polo</dt><dd>{{ege_user.polo}}</dd>
        {% endif %}
        <dt>Campus</dt><dd>{{ege_user.campus}}</dd>
        <dt>Bibliografia</dt><dd>{{user.perfil.bibliografia}}</dd>
        <dt>Email</dt><dd>{{ege_user.email}}</dd>
        <dt>Necessidades especiais</dt>
        <dd>
            for ne in user.perfil.necessides ou
            user.perfil.necessidade1 .. user.perfil.necessidadeN
        </dd>
    </dl>
<!-- Este aqui acho bom ser via AJAX
Diários no Moodle (só para alunos)
   Nome do componente curricular
   Código do diário
   Nota final (caso exista)
-->

    <p>Caso queiras, podes <a href='./logout/'>sair</a>.</p>


</body>
</html>
