{% load i18n static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Perffil de {{ request.session.ege.user.presentation_name|safe }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    {{ request.session.ege|json_script:"ege_user_data" }}
    <script>
        var ege = JSON.parse(document.getElementById('ege_user_data').textContent);
        ege.profile = {
            "bibliografia": 'Tem algo',
            "necessidades_especiais": [
                {"titulo": "Cegueira", "publico": true, },
                {"titulo": "Baixa visão", "publico": true, },
            ]
        }
    </script>
</head>
<body>
    <div id="app">
        <top-bar></top-bar>
        <div>
            <h3 dark class="headline mb-0 mt-3">${ege.user.presentation_name}</h3>
            <dl>
                <dt>Matrícula</dt>
                <dd>${ege.user.username}</dd>
                <template v-if="ege.user.campus"><dt>Campus</dt><dd>${ege.user.campus}</dd></template>
                <template v-if="ege.user.polo"><dt>Polo</dt><dd>${ege.user.polo}</dd></template>
                <template v-if="ege.profile.bibliografia"><dt>Bibliografia</dt><dd>${ege.profile.bibliografia}</dd></template>
                <template v-if="ege.profile.necessidades_especiais">
                    <dt>Necessidades especiais</dt>
                    <dd>
                        <ul v-for="ne in ege.profile.necessidades_especiais">
                            <li>${ne.titulo} = ${ne.publico}</li>
                        </ul>
                    </dd>
                </template>
            </dl>
        </div>
        <!-- Este aqui acho bom ser via AJAX
        Diários no Moodle (só para alunos)
           Nome do componente curricular
           Código do diário
           Nota final (caso exista)
        -->
        <p>Caso queiras, podes <a href='./logout/'>sair</a>.</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
