[submodule "apps/ege_django_theme"]
	path = apps/ege_django_theme
	url = https://github.com/CoticEaDIFRN/ege_django_theme.git
[submodule "apps/ege_django_auth_jwt"]
	path = apps/ege_django_auth_jwt
	url = https://github.com/CoticEaDIFRN/ege_django_auth_jwt.git
[submodule "apps/ege_django_base"]
	path = apps/ege_django_base
	url = https://github.com/CoticEaDIFRN/ege_django_base.git
[submodule "apps/ege_acesso"]
	path = apps/ege_acesso
	url = https://github.com/CoticEaDIFRN/ege_acesso.git
