[submodule "apps/ege_django_theme"]
	path = apps/ege_theme
	url = git@github.com:CoticEaDIFRN/ege_django_theme.git
[submodule "apps/ege_django_auth_jwt"]
	path = apps/ege_auth_jwt
	url = git@github.com:CoticEaDIFRN/ege_django_auth_jwt.git
[submodule "apps/ege_django_base"]
	path = apps/ege_base_image
	url = git@github.com:CoticEaDIFRN/ege_django_base.git
[submodule "apps/ege_acesso"]
	path = apps/ege_acesso
	url = git@github.com:CoticEaDIFRN/ege_acesso.git
[submodule "apps/ege_integrador_ui"]
	path = apps/ege_integrador_ui
	url = git@github.com:CoticEaDIFRN/ege_integrador_ui.git
[submodule "apps/ege_integrador_ms"]
	path = apps/ege_integrador_ms
	url = git@github.com:CoticEaDIFRN/ege_integrador_ms.git
[submodule "apps/ege_processo_seletivo_publico"]
	path = apps/ege_selecao
	url = git@github.com:CoticEaDIFRN/ege_processo_seletivo_publico.git
[submodule "apps/ege_processo_seletivo_administrativo"]
	path = apps/ege_seletivo
	url = git@github.com:CoticEaDIFRN/ege_processo_seletivo_administrativo.git
[submodule "apps/ege_perfil"]
	path = apps/ege_perfil
	url = git@github.com:CoticEaDIFRN/ege_perfil.git
