{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block branding %}
    <!--Top bar-->
    <div class="page-container">
        <div class="md-app" name="reveal">
          <div class="md-app-toolbar md-primary menu w-100 text-white">
              <button id="btn-menu" class="md-button md-icon-button f-left d-md-none">
                  <span class="md-icon text-white">menu</span>
              </button>
              <h4 id="home-link" class="ml-0 ml-md-4"><a href="{% url 'admin:index' %}" class="text-white">{{ site_header|default:_('Admin') }}</a></h4>

              <div id="icons-top" class="pr-md-5">
                  <div class="d-flex flex-row justify-between">
                      <div class="md-avatar md-avatar-icon">
                          <span class="md-icon"><a href="#" class="text-white">notifications</a></span>
                      </div>
                      <div class="md-avatar md-avatar-icon md-accent">
                          <span class="md-icon"><a href="#" class="text-white">chat</a></span>
                      </div>
                      <div id="top-user" class="md-avatar">
                          <span class="md-icon"><a href="#" class="text-white">account_circle</a></span>
                      </div>


                  </div>
              </div>
          </div>

        </div>
    </div>
    <!--End Top bar-->
    <div class="d-flex w-100">
        <!--Left Menu-->
        <div id="left_menu" class="left-menu md-app-drawer d-none d-md-block text-white pt-5" style="z-index: 10;">
            <ul class="pt-lg-3">
                {% if app_list %}
                    {% for app in app_list %}
                        <li class="title-menu d-flex flex-column justify-content-center" style="min-height: 6em">
                            <h5 class="text-left m-0  ml-2"><a href="#" class="section text-white" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a></h5>
                            {% for model in app.models %}
                                {% if model.admin_url %}
                                    <ul class="sub-menu d-none">
                                        <li class="d-flex align-items-center">
                                            <p class="m-0 ml-4 w-50"><a href="{{ model.admin_url }}" class="text-white">{{ model.name }}</a></p>
                                            <div class="md-card-actions w-50" style="justify-content: flex-end">
                                                <div class="more_actions d-none" style="display: flex">
                                                    {% if model.add_url %}
                                                        <span class="md-icon"><a href="{{ model.add_url }}" class="text-white">add_circle_outline</a></span>
                                                        {% comment %}Add{% endcomment %}
                                                    {% else %}

                                                    {% endif %}

                                                    {% if model.admin_url %}
                                                        {% if model.view_only %}
                                                            <span class="md-icon"><a href="{{ model.admin_url }}" class="text-white">pageview</a></span>
                                                            {% comment %}View{% endcomment %}
                                                        {% else %}
                                                            <span class="md-icon"><a href="{{ model.admin_url }}" class="text-white">edit</a></span>
                                                            {% comment %}Change{% endcomment %}
                                                        {% endif %}
                                                    {% else %}

                                                    {% endif %}
                                                </div>
                                                {% if model.add_url or model.admin_url %}
                                                    <span class="md-icon btn_more m-0"><a href="#" class="text-white">more_vert</a></span>
                                                {% endif %}
                                            </div>
                                        </li>
                                        <hr class="m-0 ml-4 mr-2">
                                    </ul>
                                {% else %}
                                    <ul>
                                        <li>
                                            <p class="text-left text-white ml-4">{{ model.name }}</p>
                                        </li>
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                {% else %}

                {% endif %}

            </ul>
        </div>
        <!--End Left Menu-->

        <!--Content-->
            <div id="content-main" class="d-flex w-100">
                <!--Modal-->
                <div id="modal" class="modal-back d-none"></div>
                <!--End Modal-->

                <!--Content Page-->
                <div id="content-adm" class="w-100 pt-5 text-center">

                    {% block breadcrumbs %}{% endblock %}

                    <div id="content-related" class="w-25 m-0 mr-2 ml-auto border rounded">
                        <div class="module" id="recent-actions-module">
                            <h3 class="border-bottom">{% trans 'Recent actions' %}</h3>
                                {% load log %}
                                {% get_admin_log 10 as admin_log for_user user %}
                                {% if not admin_log %}
                                    <p>{% trans 'None available' %}</p>
                                {% else %}
                                    <ul class="actionlist p-0">
                                        {% for entry in admin_log %}
                                            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %} d-flex flex-row justify-content-around">
                                                {% if entry.is_deletion or not entry.get_admin_url %}
                                                    <span class="col-8">{{ entry.object_repr }}</span>
                                                {% else %}
                                                    <span class="col-8"><a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a></span>
                                                {% endif %}

                                                {% if entry.content_type %}
                                                    <span class="mini quiet col-4">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                                                {% else %}
                                                    <span class="mini quiet col-4">{% trans 'Unknown content' %}</span>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                        </div>
                    </div>
                </div>
                <!--End Content Page-->
            </div>

            <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
            <script>
                var cont = 0;
                $('#btn-menu').click(function () {
                    $('.modal-back').toggleClass('d-block');
                    if (cont == 0) {
                        $('#left_menu').removeClass('d-none');
                        $('#left_menu').fadeIn(500);
                        cont = 1;
                        $('#menu-user').fadeOut(100);
                        cont_usr = 0;
                    } else {
                        $('#left_menu').fadeOut(100);
                        cont = 0;
                    }
                });

                $('#modal').click(function () {
                    $('.modal-back').toggleClass('d-block');
                    $('#left_menu').fadeOut(100);
                    cont = 0;
                });

                var cont_usr = 0;
                $('#top-user').click(function () {
                    if (cont_usr == 0) {
                        $('#menu-user').removeClass('d-none');
                        $('#menu-user').fadeIn(500);
                        cont_usr = 1;
                        $('.modal-back').removeClass('d-block');
                        $('#left_menu').fadeOut(1);
                        cont = 0;
                    } else {
                        $('#menu-user').fadeOut(100);
                        cont_usr = 0;
                    }
                });


                $('.card_body').click(function () {
                    $(this).find('.card_content').toggleClass('d-none');
                    $(this).find('hr').toggleClass('d-none');
                });

                $('.title-menu').click(function () {
                    $(this).find('.sub-menu').toggleClass('d-none');
                });

                $('.btn_more').click(function () {
                    event.stopPropagation();
                    $(this).parent().find('.more_actions').toggleClass('d-none');
                });

            </script>
        <!--End Content-->
        <!--Right-Menu-->
            <div id="menu-user" class="right-menu d-none text-white">
                {% if has_permission %}
                    <div id="user-tools" class="d-flex flex-column mb-3">
                        <div class="text-center mt-4">
                            <span class="md-icon"><a href="#" class="text-white">account_circle</a></span>
                        </div>
                        <h5 class="p-4 text-center">
                            {% trans 'Welcome, ' %}<span class="text-bold">{% firstof user.get_short_name user.get_username %}!</span>
                        </h5>
                        {% if user.is_active and user.is_staff %}
                            {% url 'django-admindocs-docroot' as docsroot %}
                            {% if docsroot %}
                                <a href="{{ docsroot }}" class="text-white">{% trans 'Documentation' %}</a>
                            {% endif %}
                        {% endif %}
                        {% if site_url %}
                            <a href="{{ site_url }}" class="text-center p-2 text-white">{% trans 'View site' %}</a></h5>
                        {% endif %}
                        {% if user.has_usable_password %}
                            <a href="{% url 'admin:password_change' %}" class="text-center p-2 text-white">{% trans 'Change password' %}</a>
                        {% endif %}
                        <a href="{% url 'admin:logout' %}" class="text-right p-4 text-white"><span class="md-icon">highlight_off</span>{% trans 'Log out' %}</a>
                    </div>
                {% endif %}
            </div>
        <!--End Right-Menu-->
    </div>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}


