{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}Perffil de {{ request.session.ege.user.presentation_name|safe }}{% endblock %}

{% block left_menu %}{% endblock %}

{% block content %}

    <div id="perfil">
        <div>
            <h3 class="headline mb-0 mt-3">{{request.session.ege.user.presentation_name}}</h3>
            <p>${ nome }</p>

            <dl>
                <dt>Matrícula</dt>
                <dd>{{request.session.ege.user.username}}</dd>
                <div v-if="see"><dt>Campus</dt><dd>{{request.session.ege.user.campus}}</dd></div>
                <div v-if="see">
                    <dt>Polo</dt>
                    <dd>{{request.session.ege.user.polo}}</dd>
                </div>
                <div v-if="see"><dt>Bibliografia</dt><dd>{{request.session.ege.profile.bibliografia}}</dd></div>
                <div v-if="see">
                    <dt>Necessidades especiais</dt>
                    <!--
                    <dd>
                        <ul v-for="ne in ege.profile.necessidades_especiais">
                            <li>{{ne.titulo}} = {{ne.publico}}</li>
                        </ul>
                    </dd>
                    -->
                </div>
            </dl>
        </div>
        <!-- Este aqui acho bom ser via AJAX
        Diários no Moodle (só para alunos)
           Nome do componente curricular
           Código do diário
           Nota final (caso exista)
        -->
        <p>Caso queiras, podes <a href='./logout/'>sair</a>.</p>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}